/*importação de fontes da Google*/
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*Limpar formatações padrão...*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    background-color: #e6e6e6;
}

/* ===== layout ===== */
#cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 8px auto;
}

#area_postagens{
    border-radius: 10px;
    margin-bottom: 8px;
}

#area_postagens {
    width: 660px;
    float: left;
}

#area_lateral{
    width: 240px;
    float: right;
}



/* === Formatações Gerais ===*/
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: aliceblue;
}

/*Formatação menu*/
#area-menu a:link, a:visited{
    color: #FFF;
    text-decoration: none;
    padding: 8px 12px;
}

#area-menu a:hover{
    color: #f7b600;
    background-color: white;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

#rodape{
    background: #ccc;
    clear: both;
    padding: 20px;
}

#rodape h4{
    text-align: center;
}

#links ul>li{
    list-style: none;
}

#links ul>li a{
    color: #f7b600;
}

.postagem, #links, #PostagemRecentes{
    padding: 10px;
    background: #fafafa;
    border-radius: 7px;
    margin-top: 10px;
}

.postagem h2{
    color: gray;
}

.postadoEM{
    display: block;
    border-bottom: 2px solid gray;
    margin-bottom: 6px;
}

.postagem img{
    border-radius: 8px;

}

.leiaMais{
    background: #f7b600;
    color: #e6e6e6;
    padding: 5px;
    margin-top: 5px;
    display: block;
    width: 70px;
    border-radius: 5px;
}

.h4Postagens{
    background: #4e4e4e;
    color: #FFF;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;    
}