/*importação de fontes da Google*/
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*Limpar formatações padrão...*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    background-color: #e6e6e6;
}

/* ===== layout ===== */
#cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 8px auto;
}

#area_postagens, #area_lateral {
    background: #f7b600;
    border-radius: 10px;
}

#area_postagens {
    width: 660px;
    float: left;
}

#area_lateral{
    width: 240px;
    float: right;
}



/* === Formatações Gerais ===*/
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: aliceblue;
}

/*Formatação menu*/
#area-menu a:link, a:visited{
    color: #FFF;
    text-decoration: none;
    padding: 8px 12px;
}

#area-menu a:hover{
    color: #f7b600;
    background-color: white;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

#rodape{
    background: #ccc;
    clear: both;
    padding: 20px;
}

#rodape h4{
    text-align: center;
}

.postagem{
    padding: 10px;
}

.postagem img{
    border-radius: 8px;

}